@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  
}


@theme {
  --default-font-family: "Lato", sans-serif;
  /* ---------------------- */
  /*        BRAND           */
  /* ---------------------- */

  --color-blue-dark:  #2E3DA3;
  --color-blue-base:  #5165E1;
  --color-blue-light: #8996EB;

  /* ---------------------- */
  /*      GRAYSCALE         */
  /* ---------------------- */

  --color-gray-100: #151619;
  --color-gray-200: #1E2024;
  --color-gray-300: #535964;
  --color-gray-400: #858B99;
  --color-gray-500: #E3E5E8;
  --color-gray-600: #F9FAFA;

  /* ---------------------- */
  /*       FEEDBACK         */
  /* ---------------------- */

  --color-feedback-danger:   #D03E3E;
  --color-feedback-open:     #CC3D6A;
  --color-feedback-progress: #355EC5;
  --color-feedback-done:     #50B826;

  --text-xxs: 0.625rem;
}

@keyframes fade {
  from { opacity: 0; transform: scale(0.97); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fade {
  animation: fade 0.2s ease-out;
}



@keyframes fade {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fade {
  animation: fade .2s ease-out;
}
